<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>681862055341-71ekq576evi4os99uc7c3csbc5t0a9mv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681862055341-71ekq576evi4os99uc7c3csbc5t0a9mv</string>
	<key>API_KEY</key>
	<string>AIzaSyCyL5OOLaetz3BqFYFlIGTpJcXN4XDw3Uw</string>
	<key>GCM_SENDER_ID</key>
	<string>681862055341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tonglin.t91.biubiubiu</string>
	<key>PROJECT_ID</key>
	<string>biubiubiu-t91-4a032</string>
	<key>STORAGE_BUCKET</key>
	<string>biubiubiu-t91-4a032.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681862055341:ios:0b48ee7aca3325bb</string>
	<key>DATABASE_URL</key>
	<string>https://biubiubiu-t91-4a032.firebaseio.com</string>
</dict>
</plist>